
<h1 class="mx-auto my-0 text">Welcome to instaC</h1>

<h2 class="text-white-50 mx-auto mt-2 mb-5">Please register or Sign In to continue</h2>

<%=link_to "Sign Up", new_account_registration_path, class: "btn btn-success" %>
<%=link_to "Sign In", new_account_session_path, class: "btn btn-primary" %>
